#cv-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 16px 0px 16px 64px;
    border-radius: 50%;
    float: right;
    width: 200px;
    transform: scaleX(-1);
    z-index: 1;
}

@media only screen and (min-width: 601px) {
  .cv-bar {
    transition: width 1.2s ease-out;
  }

  #tech-skills p {
      background-color: var(--background) !important;
      margin: 8px 0;
  }
}

@media only screen and (max-width: 850px), print {
  #cv-picture {
    float: none;
    margin: auto auto;
    width: 100px;
  }

  h1 {
    text-align: center;
    margin-top: var(--default-padding);
    margin-bottom: calc(var(--default-padding)*2);
  }
}

@media only screen and (max-width: 600px), print {
  .cv-bar {
    display: none;
  }

  #tech-skills p {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: var(--chip-round);
    text-shadow: 0 1px 4px var(--dark-grey);
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 8px;
  }
}

@media print {
  .container {
    width: 100% !important;
    margin: var(--default-padding);
    margin-top: calc(var(--default-padding)*2);
    padding: 0;
  }

  .boundary {
    display: none;
  }
}