:root {
  --primary: #911f17;
  --primaryvariant: #5d0000;
  --primary-light: #c8503f;
  --secondary: #b7cadb;
  --secondaryvariant: #b0bec5;
  --secondary-light: #e2f1f8;
  --background: white;
  --surface: #eceff1;
  --error: #c8503f;
  --onprimary: white;
  --onsecondary: black;
  --onbackground: grey;
  --onsurface: black;
  --onerror: white;

  --debug: white;  /* green */

  --default-padding: 20px;
  --button-round: 3px;
  --chip-round: 15px;

  --content-width: 900px;
  --font-size: 15px;
}

/* CONTENTS */

html, body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  height: 100%;
  margin: 0;
  background-color: var(--background);
}

.container {
  border: 1px solid var(--debug);
  margin: 0 max(15%, calc(50% - var(--content-width)*0.5));
  padding: calc(var(--default-padding)*2);
  max-width: var(--content-width);
}

/* MENU */

.boundary {
  border: 1px solid var(--debug);
  overflow: auto;
  padding-left: max(calc(50% - var(--content-width)*0.55), calc(var(--default-padding)*2));
  padding-right: max(calc(50% - var(--content-width)*0.55), calc(var(--default-padding)*2));
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding);
}

.pagination-link {
  border: 1px solid var(--debug);
  display: inline-block;  
  padding: 10px;
  text-transform: uppercase;
}

.go-right {
  float: right;
}

.go-left {
  float: left;
  position: absolute;
}

/* CONTENTS */

h1, h2, h3 {
  padding-top: 10px;
  font-weight: normal;
  letter-spacing: 2px;
  
}

h2, h3 {
  text-transform: uppercase;
}

.caption {
  text-transform: uppercase;
  font-size: calc(var(--font-size)*0.75);
  text-align: center;
  color: var(--onbackground);
}

/* BUTTONS */

p > a, li > a {
  font-weight: normal;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}

a:hover {
  color: var(--primaryvariant);
}

p + button, p + div > button, button + button {
  margin-top: 0;
}

button {
  background-color: var(--primary);
  color: var(--onprimary);
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: calc(var(--default-padding)/2);
  margin: calc(var(--default-padding)) 0;
  border-radius: var(--button-round);
}

@media only screen and (min-width: 601px) {
  button + button {
    margin-left: calc(var(--default-padding)/2);
  }

  button {
    padding: calc(var(--default-padding)/2) var(--default-padding);
  }
}

button:hover {
  background-color: var(--primaryvariant);
}

.secondaryButton {
  background-color: var(--background);
  color: var(--onbackground);
  padding: calc(var(--default-padding)/2);
}

.secondaryButton:hover {
  background-color: var(--surface);
}

/* CODE */

pre {
  border: 1px solid var(--secondary);
  padding: 10px;
  overflow-x: scroll;
}

/* RULES FOR RESPONSIVENESS */

.hide-small {
  display: inline-block;
}

.hide-medium {
  display: inline-block;
}

.show-medium {
  display: none;
}

.show-small {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hide-medium {
    display: none;
  }

  .show-medium {
    display: inline-block;
  }

}

@media only screen and (max-width: 500px), print {
  .container {
    margin: 0;
    padding: calc(var(--default-padding)*2) var(--default-padding);
  }

  .boundary {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
  }

  .boundary > .pagination-link {
    padding-left: 0;
    padding-right: 0;
  }

  .show-small {
    display: inline-block;
  }

  .hide-small {
    display: none;
  }
}

@media print {
  .no-print, .no-print * {
      display: none !important;
  }

  .container > div {
      page-break-inside: avoid;
  }
}

/* FLEX ROWS */

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  box-sizing: border-box;
}

.flexRow:after {
  content: "";
  flex: auto;
}

.flexRowMargins {
  margin: calc(var(--default-padding) * -1) calc(var(--default-padding) * -0.5) 0 calc(var(--default-padding) * -0.5);
}

.flexRowMargins > * {
  margin-top: var(--default-padding);
  padding: 0 calc(var(--default-padding)*0.5);
  box-sizing: border-box;
}

.sixth {
  width: calc(100%/6);
}

.fifth {
  width: 20%;
}

.quarter {
  width: 25%;
}

.third {
  width: calc(100%/3);
}

.half {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .sixth, .fifth {
    width: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .fifth, .quarter {
    width: calc(100%/3);
  }

  .third {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .sixth {
    width: calc(100%/3);
  }

  .fifth, .quarter, .third {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .flexRow > * {
    display: block;
    margin: 0;
    margin-top: var(--default-padding);
  }

  .flexRowMargins {
    margin: calc(var(--default-padding)*-1) 0 0 0;
  }

  .fifth, .quarter, .third, .half {
    width: 100%;
    padding: 0;
  }
}

/* CARDS */

.square {
  position: relative;
  overflow: hidden;
}

.ratio169 {
  position: relative;
  overflow: hidden;
}

.round {
  border-radius: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ratio169:after {
  content: "";
  display: block;
  padding-bottom: 56%;
}

.centerSquare {  
  position: absolute;
  width: calc(100% - 2*var(--default-padding));
  padding: var(--default-padding);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.square:hover > .centerSquare, .ratio169:hover > .centerSquare {
  display: initial;
}

.dark-overlay {
  width:100%;
  height:100%;
  position:absolute;
  transition: opacity 0.2s;
  background-color: var(--onsurface);
  opacity: 0.1;
}

.square:hover > .dark-overlay, .ratio169:hover > .dark-overlay {    
  opacity: 0.3;
}

@media only screen and (max-width: 500px) {
  .centerSquare {
    display: initial;
  }

  .dark-overlay {    
    opacity: 0.3;
  }  
}
