:root {
  --primary: #911f17;
  --primaryvariant: #5d0000;
  --primary-light: #c8503f;
  --secondary: #b7cadb;
  --secondaryvariant: #b0bec5;
  --secondary-light: #e2f1f8;
  --background: white;
  --surface: #eceff1;
  --error: #c8503f;
  --onprimary: white;
  --onsecondary: black;
  --onbackground: black;
  --onsurface: grey;
  --onerror: white;
  --dark-grey: #333333;
  --default-grey: grey;
  --light-grey: #EAEAEA;

  --debug: white;  /* white green */

  --default-padding: 20px;
  --button-round: 3px;
  --chip-round: 15px;

  --content-width: 900px;
  --font-size: 15px;
}

/* CONTENTS */

html, body {
  font-family: sans-serif;
  font-size: medium;
  line-height: 1.5em;
  height: 100%;
  margin: 0;
  background-color: var(--background);
}

.container {
  border: 1px solid var(--debug);
  margin: 0 max(15%, calc(50% - var(--content-width)*0.5));
  padding: calc(var(--default-padding)*2);
  max-width: var(--content-width);
}

/* MENU */

.boundary {
  border: 1px solid var(--debug);
  border-bottom: 1px solid var(--secondaryvariant);

  z-index: 2;  
  padding-left: max(calc(50% - var(--content-width)*0.6), calc(var(--default-padding)*2));
  padding-right: max(calc(50% - var(--content-width)*0.6), calc(var(--default-padding)*2));
  text-transform: uppercase;
}

.pagination-link {
  border: 1px solid var(--debug);
  display: inline-block;  
  margin: var(--default-padding) calc(var(--default-padding)*0.5);
  padding: calc(var(--default-padding)*0.5);
}

.dropdown-hover {
  position: relative;
  display: inline-block;

  height: 0;
  overflow-y: hidden;
}

.pagination-link.open > .dropdown-hover {
  height: fit-content;
  overflow-y: unset;
}

.pagination-link > .dropdown-hover > .dropdown-content {
  position: absolute;  

  right: 0;
  margin-top: calc(var(--default-padding)*0.5);
  margin-left: calc(var(--default-padding)*-1);
  z-index: 2;  
  background-color: var(--background);
}

.pagination-link > .dropdown-hover > .dropdown-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--button-round);
  
  opacity: 0;
  transform: scale(0.8);
  transform-origin: 100% 0%;
  transition: transform 0.1s, opacity 0.1s;  
}

.pagination-link.open > .dropdown-hover > .dropdown-content {
  transform: scale(1);
  opacity: 1;
}

.dropdown-content a {
  color: var(--primary-light);
  padding: calc(var(--default-padding) * 0.5) var(--default-padding);
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  color: var(--primary);
  background-color: var(--surface);
  font-weight: bolder;  
}

.menu-small {
  z-index: 2;
  height: 0;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.95);
  overflow-y: hidden;
}

.menu-small-content {
  text-align: center;
  position: relative;
  font-size: x-large;
  top: 50%;
  transform:translateY(-50%);
  width: fit-content;
  margin: auto;
}

.menu-small-content > a {
  display: block;
  text-transform: uppercase;
  margin-top: min(5vh, calc(var(--default-padding)*2));
}

.menu-small-button {
  position: absolute;
  right: 0;
  padding: var(--default-padding) var(--default-padding);
  margin: calc(var(--default-padding)*0.5);
  padding-right: max(calc(50% - var(--content-width)*0.6), calc(var(--default-padding)*2));
}

.go-right {
  float: right;
}


/* CONTENTS */

h1, h2, h3 {
  padding-top: 10px;
  font-weight: normal;
  letter-spacing: 2px;
  
}

h2, h3 {
  text-transform: uppercase;
}

.caption, .slide > img {
  text-transform: uppercase;
  font-size: calc(var(--font-size)*0.75);
  text-align: center;
  color: var(--default-grey);
}

/* BUTTONS */

p > a, li > a {
  font-weight: normal;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s;
}

a:hover {
  color: var(--primaryvariant);
}

p + button, p + div > button, button + button {
  margin-top: 0;
}

button {
  background-color: var(--primary);
  color: var(--onprimary);
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: calc(var(--default-padding)/2);
  margin: calc(var(--default-padding)) 0;
  border-radius: var(--button-round);
}

@media only screen and (min-width: 601px) {
  button + button {
    margin-left: calc(var(--default-padding)/2);
  }

  button {
    padding: calc(var(--default-padding)/2) var(--default-padding);
  }
}

button:hover {
  background-color: var(--primaryvariant);
}

.secondaryButton {
  background-color: var(--background);
  color: var(--onsurface);
  padding: calc(var(--default-padding)/2);
}

.secondaryButton:hover {
  background-color: var(--surface);
}

/* CODE */

pre {
  border: 1px solid var(--secondary);
  padding: 10px;
  overflow-x: scroll;
}

/* RULES FOR RESPONSIVENESS */

.hide-small {
  display: inline-block;
}

.hide-medium {
  display: inline-block;
}

.show-medium {
  display: none;
}

.show-small {
  display: none;
}

@media only screen and (max-width: 850px) {
  .pagination-link {
    margin-left: 0;
    margin-right: 0;
    padding-left: calc(var(--default-padding)*0.5);
    padding-right: calc(var(--default-padding)*0.5);
  }
}

@media only screen and (max-width: 700px), (hover: none) and (pointer: coarse) {
  .hide-medium {
    display: none;
  }

  #about-me-dropdown {
    display: none;
  }

  .show-medium {
    display: inline-block;
  }
}

@media only screen and (max-width: 500px), print {
  .container {
    margin: 0;
    padding: calc(var(--default-padding)*2) var(--default-padding);
  }

  .boundary {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
  }

  .menu-small-button {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    margin-left: 0;
    margin-right: 0;
  }

  .boundary > .pagination-link {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .show-small {
    display: inline-block;
  }

  .hide-small {
    display: none;
  }
}

@media print {
  .no-print, .no-print * {
      display: none !important;
  }

  .container > div {
      page-break-inside: avoid;
  }
}

/* FLEX ROWS */

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  box-sizing: border-box;
}

.flexRow:after {
  content: "";
  flex: auto;
}

.flexRowMargins {
  margin: calc(var(--default-padding) * -1) calc(var(--default-padding) * -0.5) 0 calc(var(--default-padding) * -0.5);
}

.flexRowMargins > * {
  margin-top: var(--default-padding);
  padding: 0 calc(var(--default-padding)*0.5);
  box-sizing: border-box;
}

.sixth {
  width: calc(100%/6);
}

.fifth {
  width: 20%;
}

.quarter {
  width: 25%;
}

.third {
  width: calc(100%/3);
}

.half {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .sixth, .fifth {
    width: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .fifth, .quarter {
    width: calc(100%/3);
  }

  .third {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .sixth {
    width: calc(100%/3);
  }

  .fifth, .quarter, .third {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .flexRow > * {
    display: block;
    margin: 0;
    margin-top: var(--default-padding);
  }

  .flexRowMargins {
    margin: calc(var(--default-padding)*-1) 0 0 0;
  }

  .fifth, .quarter, .third, .half {
    width: 100%;
    padding: 0;
  }
}

/* CARDS */

.square {
  position: relative;
  overflow: hidden;
}

.ratio169 {
  position: relative;
  overflow: hidden;
}

.round {
  border-radius: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ratio169:after {
  content: "";
  display: block;
  padding-bottom: 56%;
}

.centerSquare {  
  position: absolute;
  width: calc(100% - 2*var(--default-padding));
  padding: var(--default-padding);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.square:hover > .centerSquare, .ratio169:hover > .centerSquare {
  display: initial;
}

.dark-overlay {
  width:100%;
  height:100%;
  position:absolute;
  transition: opacity 0.2s;
  background-color: var(--dark-grey);
  opacity: 0.1;
}

.square:hover > .dark-overlay, .ratio169:hover > .dark-overlay {    
  opacity: 0.3;
}

@media only screen and (max-width: 500px) {
  .centerSquare {
    display: initial;
  }

  .dark-overlay {    
    opacity: 0.3;
  }  
}

/* SLIDER */

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  height: calc(var(--default-padding)*0.4);
}

.slides::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: var(--chip-round);
}

.slides .slide {
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  
  margin: 0 calc(var(--default-padding)*0.5);
  margin-bottom: calc(var(--default-padding)*0.5);
  
  border-radius: var(--button-round);
  background: var(--surface);

  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides .slide.book {
  width: 133px;
  height: 200px;
}

.slide > img {
  object-fit: cover;
  position: absolute;
  border-radius: var(--button-round);
  width: 100%;
  height: 100%;
}